{{> header}}

<link rel='stylesheet' href='/stylesheets/index.css' />

<div class="introduction">
  <p>Entrez deux adresses et accedez à google maps en moins bien !</p>
</div>

<div class="form-container">
  <form id="index-form" action="/results" method="post">
    <input id="departure" name="departure" type="text" placeholder="adresse de départ" class=""> 
    <input id="arrival" name="arrival" type="text" placeholder="adresse d'arrivée" class="">

    <div class="button-bar">
      <button name="walking" class="btnActive" type="button">
        <i class="fa fa-child" aria-hidden="true"></i>
      </button>
      <button name="bicycling" class="btnActive" type="button">
        <i class="fa fa-bicycle" aria-hidden="true"></i>
      </button>
      <button name="driving" class="btnActive" type="button">
        <i class="fa fa-car" aria-hidden="true"></i>
      </button>
      <button name="transit" class="btnActive" type="button">
        <i class="fa fa-train" aria-hidden="true"></i>
      </button>
    </div>

    <input type="checkbox" name="walking" value="true" checked hidden>
    <input type="checkbox" name="bicycling" value="true" checked hidden>
    <input type="checkbox" name="driving" value="true" checked hidden>
    <input type="checkbox" name="transit" value="true" checked hidden>

    <input type="submit" value="rechercher des trajets">
  </form>
  <a href="/results">lien vers results</a>
</div>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/autoAdress.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy94XeHduKyseqtx3gu9tHCQXwBz9qvG8&libraries=places&callback=initAutocomplete">
</script>