{{> header}}

<link rel='stylesheet' href='/stylesheets/index.css' />

<div class="form-container">
  <form id="index-form">
     <input id="departure" name="departure" type="text" placeholder="adresse de départ"> 
    <input id="arrival" name="arrival" type="text" placeholder="adresse d'arrivée">

    <div class="button-bar">
      <button id="onfoot"><i class="fa fa-child" aria-hidden="true"></i></button>
      <button id="bicycle"><i class="fa fa-bicycle" aria-hidden="true"></i></button>
      <button id="car"><i class="fa fa-car" aria-hidden="true"></i></button>
      <button id="transport"><i class="fa fa-train" aria-hidden="true"></i></button>
    </div>

    <input type="submit" value="rechercher des trajets">
  </form>
  <a href="/results">lien vers results</a>
</div>

<script src="/javascripts/autoAdress.js"></script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy94XeHduKyseqtx3gu9tHCQXwBz9qvG8&libraries=places&callback=initAutocomplete">
</script>