{{> header}}

{{!-- <header>
  <h1>Lostnomore</h1>
  <div class="user-zone">
    <a href="#">sign-up</a>
    <span class="le-or">or</span>
    <a href="#">log-in</a>
  </div>
</header> --}}

<link rel='stylesheet' href='/stylesheets/index.css' />

<div class="form-container">
  <form id="index-form">
    <input name="start" type="text" placeholder="adresse de départ">
    <input name="finish" type="text" placeholder="adresse d'arrivée">

    <div class="button-bar">
      <button id="onfoot"><i class="fa fa-child" aria-hidden="true"></i></button>
      <button id="bicycle"><i class="fa fa-bicycle" aria-hidden="true"></i></button>
      <button id="car"><i class="fa fa-car" aria-hidden="true"></i></button>
      <button id="transport"><i class="fa fa-train" aria-hidden="true"></i></button>
    </div>

    <input type="submit" value="rechercher des trajets">
  </form>
  <a href="/results">lien vers results</a>
</div>