{{> header}}

<link rel='stylesheet' href='/stylesheets/index.css' />

<div class="introduction">
  <p>Enregistrez vous !</p>
</div>

<div class="form-container">
  <form id="index-form">
    <input id="nom" name="nom" type="text" placeholder="nom" class=""> 
	<input id="prenom" name="prenom" type="text" placeholder="prenom" class=""> 
	<input id="email" name="email" type="text" placeholder="email" class=""> 
	<input id="password" name="password" type="password" placeholder="password" class=""> 

    <input type="submit" value="Enregistrer">
  </form>
  <a href="/results">lien vers results</a>
</div>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/autoAdress.js"></script>
