div.introduction {
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  text-align: center;
  background-color: #ccc;
  font-weight: 200;
}
div.introduction p {
  width: 60%;
  margin: 0 auto;
}

div.form-container {
  background: #ccc;
  padding-top: 40px;
  padding-bottom: 80px;
}
form#index-form {
  display: flex;
  flex-flow: column nowrap;
  width: 400px;
  margin: 0 auto;
}
#index-form input, #index-form button {
  font-size: 16px;
  line-height: 24px;
  height: 32px;
  margin-bottom: 12px;
  border: none;
  border-radius: 6px;
  padding: 6px;
}
#index-form input {
  padding-left: 16px;
}
#index-form .button-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  margin: 12px auto;
}

#index-form .button-bar button {
  width: 22%;
  height: 48px;
  font-size: 32px;
  background: #aaa;
  border-radius: 3px;
}

button.btnActive {
  color: black;
}
button.btnInactive {
  color: #666;
}

#index-form input[type="submit"] {
  width: 80%;
  background: #aaa;
  margin: 0 auto;
  height: 40px;
} 

#index-form input[type="submit"]:hover, #index-form .button-bar button:hover {
  background: #888;
}