div.main-container {
  background: #ccc;
  padding-bottom: 80px;
}
div.result-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* CHANGE SEARCH */
  #change-search {
    background: #e6e6e6;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }
  #change-search i {
    font-size: 32px;
    margin: auto 0;
  }
  #change-search input, #change-search button {
    font-size: 16px;
    line-height: 24px;
    height: 32px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: none;
    border-radius: 6px;
    padding: 6px;
  }
  #change-search input {
    padding-left: 16px;
    width: 40%;
  }
  #change-search button {
    font-size: 32px;
    background: #aaa;
    width: 8%;
    height: auto;
  }

/* RESULT CONTAINER */
  div.tags-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 500px;
    padding: 16px;
    flex-basis: 400px;
  }
  div#googlemap {
    background: yellowgreen;
    height: 500px;
    border: none;
    margin: 16px;
     flex: 1; 
  }
  .tags-container .button-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .tags-container button {
    height: 48px;
    font-size: 32px;
    background: #aaa;
    border: none;
    border-radius: 3px;
    width: 16%;
    margin-bottom: 12px;
  }

/* RESULT-TAGS THEMSELVES */
  div.result-tag {
    height: 64px;
    background: #e6e6e6;
    margin-bottom: 8px;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div.result-tag:hover {
    background: #f2f2f2;
  }

  div.result-tag div.result-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-left: 8px;
  }

  div.result-tag div.modelogo {
    font-size: 48px;
    margin-right: 16px;
  }

  div.result-content span.result-main {
    font-size: 32px;
  }
  span.result-main i {
    margin-right: 3px;
  }